<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">
       <!-- 不可有 default-autowire="byName" 屬性 -->
	
	<!-- **********************************************************************
         ** scheduler
         ********************************************************************** -->
    <bean id="schedulerFactory" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" lazy-init="false">
        <property name="triggers">
            <list>
            	<!--
                <ref bean="cleanTmpDirTrigger"/>
                -->
            </list>
        </property>
    </bean>
    
    <!-- **********************************************************************
         ** clean tmp dir schedule
         ********************************************************************** -->
    <bean id="cleanTmpDirTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="cleanTmpDirJob"/>
        <property name="cronExpression" value="0 1 1 * * ?"/>
    </bean>
    <bean id="cleanTmpDirJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="cleanTmpDirService"/><!-- em.model.service.CleanTmpDirService -->
        <property name="targetMethod" value="execute"/>
        <property name="concurrent" value="false" />
    </bean>
</beans>
