<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>BeerSelect</servlet-name>
    <servlet-class>course.web.BeerSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeerSelect</servlet-name>
    <url-pattern>/BeerSelect.do</url-pattern>
  </servlet-mapping>
  <servlet>
<description>This is the description of my J2EE component</description>
<display-name>This is the display name of my J2EE component</display-name>
<servlet-name>ValueGetController</servlet-name>
<servlet-class>servlet.ValueGetController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ValueGetController</servlet-name>
<url-pattern>/ValueGetController</url-pattern>
</servlet-mapping>

  <filter>
    <filter-name>perfFilter</filter-name>
    <filter-class>course.web.PerformanceFilter</filter-class>
    <init-param>
      <param-name>Log Entry Prefix</param-name>
      <param-value>Performance: </param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>perfFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>FilterOrderTestServlet</servlet-name>
    <servlet-class>course.web.FilterOrderTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterOrderTestServlet</servlet-name>
    <url-pattern>/filterOrderTest.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>Filter1</filter-name>
    <filter-class>course.web.Filter1</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter1</filter-name>
    <servlet-name>FilterOrderTestServlet</servlet-name>
  </filter-mapping>
  <filter>
    <filter-name>Filter2</filter-name>
    <filter-class>course.web.Filter2</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter2</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Filter3</filter-name>
    <filter-class>course.web.Filter3</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter3</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>course.web.WebStartListener</listener-class>
  </listener>
</web-app>